:root {
    --primary: #7C3AED;
    --background: #18181B;
    --text: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--text);
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--primary);
    color: white;
}


